.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
certifi/
certifi-*.dist-info/
charset_normalizer/
charset_normalizer-*.dist-info/
idna/
idna-*.dist-info/
razorpay/
razorpay-*.dist-info/
requests/
requests-*.dist-info/
urllib3/
urllib3-*.dist-info/
tmp/
uploads/
bin/