fastapi
uvicorn
python-dotenv
aiosmtplib
python-multipart
motor
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
httpx
pydantic[email]
email-validator
razorpay
slowapi==0.1.9
fastapi-cache2==0.2.2
redis==4.6.0
Jinja2==3.1.6
dnspython==2.8.0
gunicorn==21.2.0
uvicorn[standard]==0.23.2